.w100 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.light{
    background-color: aqua;
}

.dark{
    background-color: blue;
}

.butn{
    background-color: chartreuse;
    padding: 10px;
}